<div class="message__wrapper row" ng-init="$parent.messageSeen(messageData)">
    <div class="message__header-wrapper col-xs-1">
        <img class="message__owner-avatar" ng-src="{{messageData.owner.avatar}}" />
    </div>
    <div class="message-body col-xs-11">
        <div class="btn-group message-body__options">
            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                <span class="glyphicon glyphicon-th-list"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#" ng-click="$parent.messageReplied(messageData)">Cevap ver</a></li>
            </ul>
        </div>
        <h5 class="message__owner-nick">{{messageData.Nickname}} {{messageData.ReceivedDate | timeAgo}} soyle demis:</h5>
        <div class="message__reply-wrapper" ng-if="messageData.ReplyToMessage">
            <p class="message__reply-body">"{{messageData.ReplyToMessage.Nickname}}: {{messageData.ReplyToMessage.Message}}"</p>
        </div>
        <div class="message__img-wrapper" ng-if="messageData.FilePath">
            <a href="{{messageData.FilePath}}" target="_blank">
                <img class="message__img-body" ng-src="{{messageData.FilePath}}" />
            </a>
        </div>
        <div class="message__text-wrapper" ng-if="messageData.Message">
            <p class="message__text">{{messageData.Message}}</p>
        </div>
    </div>
</div>