<div class="user__active">
    <img class="user__avatar" ng-src="{{avatar}}" />
    <p class="user__nick">{{nick}}</p>
    <span class="user__loggedin">{{loggedInAt | timeAgo}} giris yapti</span>
</div>