<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="smsnnPortBinding"/>
                <binding name="smsserviceSoap"/>
            </basicHttpBinding>
            <customBinding>
                <binding name="smsserviceSoap12">
                    <textMessageEncoding messageVersion="Soap12"/>
                    <httpTransport/>
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://soap.netgsm.com.tr:8080/Sms_webservis/SMS" binding="basicHttpBinding" bindingConfiguration="smsnnPortBinding" contract="NetGSMSmsService.smsnn" name="smsnnPort"/>
            <endpoint address="http://www.postaguvercini.com/api_ws/smsservice.asmx" binding="basicHttpBinding" bindingConfiguration="smsserviceSoap" contract="PostaGuverciniSmsService.smsserviceSoap" name="smsserviceSoap"/>
            <endpoint address="http://www.postaguvercini.com/api_ws/smsservice.asmx" binding="customBinding" bindingConfiguration="smsserviceSoap12" contract="PostaGuverciniSmsService.smsserviceSoap" name="smsserviceSoap12"/>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
