/*
#e5e5e5 lightest grey
#333945 light grey
#2C303B dark grey
#00A74C green

*/
html, body{
    height: 100%;
    width: 100%;
}
.login__wrapper{
    height: 100%;
    width: 100%;
}
.login__wrapper--centered{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.chatroom__wrapper{
    height: 100%;
    overflow: hidden;
}
.chatroom__user-list{
    background-color: #2C303B;
    color: #ffffff;
    height: 100%;
}
.chatroom__message-list{
    background-color: #333945;
    height: 100%;
}
.user__list-header{
    font-size: 16px;
    color: #fff;
}
.user__active{
    height: 60px;
    padding: 5px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}
.user__avatar{
    border-radius: 50%;
    height: 48px;
    width: 48px;
    float: left;
    border: 1px solid #00A74C;
}
.user__nick{
    padding-left: 5%;
    color: #fff;
}
.user__loggedin {
    font-size: 12px;
    position: absolute;
    bottom: 5px;
    right: 5px;
}
.message__wrapper{
    margin: 10px;
}
.message-body{
    background: #fff;
    border: 1px solid #00A74C;
    padding: 10px;
    position: relative;
}
.message-body:after{
    content: "";
    display: block;
    position: absolute;
    left: -16px;
    top: 5px;
    width: 0;
    border-width: 15px 0 0 15px;
    border-style: solid;
    border-color: #00A74C transparent;
}
.message-body__options {
    position: absolute;
    top: 15px;
    left: 14px;
}
.message__header-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}
.message__owner-avatar{
    border-radius: 50%;
    height: 60px;
    width: 60px;
    border: 1px solid #00A74C;
}
.message__owner-nick{
    color: #2C303B;
    border-bottom: 1px solid #e5e5e5;
    margin: 5px;
    padding: 5px;
    padding-left: 25px;
}
.message__reply-wrapper{
    border-bottom: 1px solid #e5e5e5;
    margin: 5px;
    padding: 5px;
}
.message__reply-body{
    color: #2C303B;
    font-style: italic;
    font-size: 12px;
}
.message__img-wrapper{
    border-bottom: 1px solid #e5e5e5;
    margin: 5px;
    padding: 5px;
}
.message__img-body{
    height: 240px;
}
.chatroom__message-wrapper {
    height: 86%;
    overflow-y: auto;
    overflow-x: hidden;
}
.chatroom__message-entry{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 14%;
}
.entry__reply-to{
    background: #2C303B;
    color: #00A74C;
    margin: 5px;
    padding: 5px;
    display: block;
    font-style: italic;
    border: 1px solid #00A74C;
}
.entry__reply-to button {
    color: #00A74C;
}
.entry__message-wrapper{
    margin: 5px;
    padding: 5px;
    background: #E6EBE0;
    border-radius: 5px;
}
.entry__send-form{
    display: flex;
}
.entry__text-wrapper{
    padding: 5px;
    margin: 5px;
    flex-grow: 1;
}
.entry__text{
    width: 100%;
    background: transparent;
    border: 1px solid #ED6A5A;
    border-radius: 5px;
    resize: none;
}